<div class="container">
  <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
    <div class="field">
      <label class="label">Enter Email</label>
      <input
        type="email"
        required
        name="email"
        [(ngModel)]="email"
        pattern=".+@.+\..+"
        #emailControl="ngModel"
        [ngClass]="{
          'is-danger': emailControl.invalid && emailControl.touched
        }"
      />
      <ng-container *ngIf="emailControl.invalid && emailControl.touched">
        <div class="help is-danger" *ngIf="emailControl.errors.required">
          Must enter email
        </div>
        <div class="help is-danger" *ngIf="emailControl.errors.pattern">
          Must enter valid email
        </div>
      </ng-container>
    </div>
    <button class="button is-primary" [disabled]="emailForm.invalid">
      Submit
    </button>
  </form>

  <hr />
  <div>Is Form valid: {{ emailForm.valid }}</div>
  <div>Form value: {{ emailForm.value | json }}</div>
</div>
<!-- <div>Email Validation errors: {{ emailForm.controls.email.errors | json }}</div>
 -->
<!-- ngForm givs referecne access  to the automatically crated form group -->
